<html>
    <head></head>
    <body>
        This is the create template. 
        <form action="/create" method="post">
            <hr/>
            <p>Name:<input name="name"/></p>
            <p>Age:<input name="age"/></p>
            <p>Type:<input name="type"/></p>
            <p>Food:<input name="food"/></p>
            <p>Owner:<input name="owner"/></p>
            <hr/>
            <button type="submit">Create</button>
            <a href="/list">Cancel</a>
            <hr/>
        </form>
    </body>
</html>