<html>
    <h3>List:</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Age</th>
            <th>Food</th>
            <th>Owner</th>
        </tr>
        {% for pet in pets %}
        <tr>
            {% for key in ['id', 'name', 'type', 'age', 'food', 'owner'] %}
            <td>{{ pet[key] if pet[key] is not none else '' }}</td>
            {% endfor %}
            <td><a href="/delete/{{pet['id']}}">Delete</a></td>
            <td><a href="/update/{{pet['id']}}">Update</a></td>
        </tr>
        {% endfor %}
    </table>
    <hr/>
    <a href="/create">Create New Pet</a>
</html>